<!DOCTYPE html>
<html>
  <head>
    <title>Stock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Produtos', products_path %>
      <%= link_to 'Clientes', clients_path %>
      <%= link_to 'Pedidos', orders_path %>
    </nav>

    <%= yield %>
  </body>
</html>
